$mainColor : #e7e7e7;
$segmaColor:#FF1E00;
$backColor : #59CE8F;
$buttomColor:#00ABB3;
$buttomHoverColor:#008188;
// variabels
@mixin prefix($name,$value,$prefxes){
    $name:$value;
    @each $prefix in $prefxes{
       #{ "-" + $prefix + '-' + $name}:$value;
    }
}
@mixin anmietion($name){
    @-webkit-keyframes #{$name}{
        @content;
    }
    @-moz-keyframes #{$name}{
        @content;
    }    
    @keyframes #{$name}{
        @content;
    }
}

@mixin respond ($breakpoint) {
    @if $breakpoint==phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }@else if $breakpoint==tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }@else if $breakpoint== medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }@else if $breakpoint==large {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
}
// mixins 
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    @include prefix(box-sizing,border-box,webkit moz)
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
    height: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: $buttomHoverColor; 
}
a{
    text-decoration: none;
}
// body{
// }
.header{
    background-color: $backColor;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px 10px 20px;
        height: 10vh;
        .popup{
            position: fixed;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: $mainColor;
            width: 96%;
            top: 13.5vh;
            padding: 10px 0 10px 0;
            left: 2%;
            display: none;
            .poplink{
                padding: 10px 0 10px 0;
                color: black;
                &:hover{
                    width: 100%;
                    color: $segmaColor;
                    background-color: #cecbcb;
                }
            }
        }
        .active{
            display: flex;
            // @include respond(tablet){
            //     display: none;
            // }

        }
        .phonelist{
            display: none;
            margin:0 5% 0 0;
            cursor: pointer;
            @include respond(phone){
                display: block;
            }
            &:hover{
                .span{
                    background-color: #FF1E00;
                }
            }
            .span{
                display: block;
                background-color: black;
                width: 25px;
                height: 2px;
                margin: 4px;
            }
        }
        .logo{
            color: $segmaColor;
            font-size: 40px;
            cursor: pointer;
        }
        .list{
            display: flex;
            float: right;
            justify-content: space-around;
            width: 50%;
            @include respond(phone){
                display: none;
            }
            .link{
                color: $mainColor;
                transition: all 500ms ease;
                cursor: pointer;
                font-size: 20px;
                &:hover{
                    color: $segmaColor;
                }
            }
        }
    }
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    .mouse{
        width: 150px;
        height: 230px;
        position: absolute;
        top: 40%;
        left: 70%;
        background-color: blue;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;    
        @include respond(phone){
            width: 45px;
            height: 80px;
            top: 75%;
            left: 50%;
            transform: translate(-50%,50%);
        }
        .span{
            position: relative;
            top: 5%;
            left: 50%;
            transform: translate(-40%,50%);
            width: 5px;
            height: 25px;
            border-radius: 15px;
            background-color: $segmaColor;
            display: block;
            animation-name: ease;
            animation-duration: 1.5s;
            animation-iteration-count:infinite;
            @include respond(phone){
                width: 2px;
                height: 10px;
                transform: translate(-50%,50%);
            }
        }
        div{
            position: absolute;
            top: -25%;
            left: 50%;
            transform: translate(-50%,50%);
            background-color: $buttomColor;
            width: 5%;
            height: 53%;
            border-radius: 25%;
            @include respond(phone){
                width: 10%;
            }
        }
        
    }
    @include anmietion(ease){
        0%   {
            top: 5%;
            opacity: 1;
        }
        25%  {
            top: 20%;
            opacity: .8;
        }
        50%  {
            top: 35%;
            opacity: .3;
        }
        100% {
            top: 40%;
            opacity: 0;
        }
    }
    .main-continer{
        margin: 0  0 0 10% ;
        p{
            font-size: 35px;
            margin-bottom: 5%;
            color: $mainColor;
        }
        h1{
            color: $segmaColor;
            font-size: 60px;
            margin-bottom: 30px;
        }
        button{
            font-size: 15px;
            margin-bottom: 10%;
            border: none;
            border-radius: 8px;
            background-color: $buttomColor;
            color: white;
            width: 150px;
            height: 40px;
            transition: transform 400ms ease;
            cursor: pointer;
            &:hover{
                background-color: $buttomHoverColor;
                transform:scale(1.1);            }
        }
        .icons{
            display: flex;
            width: 40%;
            justify-content: space-between;
            i{
                font-size: 25px;
                margin-top: 5%;
                color: $mainColor;
                cursor: pointer;
                &:hover{
                    color: $backColor;
                }
            }
        }
    }
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    @include respond(phone){
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    };
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
        background-color: $backColor;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0px 0px 15px #343434a0;
        transition: all 500ms ease;
        &:hover{
            transform: scale(1.1);
        }
        @include respond(phone){
            margin: 10% auto 10% auto ;
            &:hover{
                transform: none;
            }
        };
    }
}
.title{
    display: block;
    margin:auto auto 5% auto;
    color: $segmaColor;
    width: 40%;
    font-size: 40px;
    text-align: center;
}
.services{
    // margin: 10% 0 10% 0;
    padding: 100px 0 100px 0;    
    .services-continer{
        .card{
            width: 70%;
            i{
                font-size: 150px;
                margin: 10% 0 10% 0;
                color: $mainColor;
            }
            h2{
                color: $segmaColor;
                font-size: 30px;
                margin: 1% 0 0 0;
            }
            p{
                color: rgba(0, 0, 0, 0.768);
                margin: 5% 0 5% 0;
                font-size: 15px;
            }
        }
    }
}
.projects{
    margin: 10% 0 10% 0;
    background-color: $buttomHoverColor;
    padding: 100px 0 100px 0;    
    .projects-continer{
        .card{
            width: 74%;
            text-align: left;
            padding-top: 0;
            padding-bottom: 10px;
            overflow: hidden;
            img{
                width: 400px;
            }
            p{
                color: $mainColor;
                font-size: 15px;
                width: 100%;
                margin: 5% 0 0 0;
            }
            div{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                margin-top: 3%;
                h2{
                    color: $segmaColor;
                    font-weight: bold;
                    font-size: 25px;
                }
                a{
                    color: $buttomHoverColor;
                    font-size: 15px;
                    cursor: pointer;
                    &:hover{
                        color: $buttomColor;
                    }
                }
            }
        }
    }
}
.contact{
    padding: 30px 0 30px 0; 
    .contact-continer{
        .card{
            width: 70%;
            i{
                font-size: 100px;
                color: $mainColor;
                margin-top: 3%;
            }
            h2{
                color: rgba(0, 0, 0, 0.768) ;
                font-size: 20px;
                margin: 2% 0 2% 0;
                a{
                    color:rgba(0, 0, 0, 0.758);
                    cursor: pointer;
                    &:hover{
                        color: $buttomColor;
                    }
                }
                cursor: pointer;
            }
            p{
                color: $segmaColor;
                margin: 5% 0 5% 0;
                font-size: 20px;
            }
        }
    }
}
